asgiref==3.5.2
certifi==2022.6.15
charset-normalizer==2.0.12
cx-Oracle==8.3.0
distlib==0.3.6
Django==4.0.5
djangorestframework==3.13.1
filelock==3.7.1
game==0.0.5
idna==3.3
mysql-connector-python==8.0.32
mysqlclient==2.1.1
Pillow==9.1.1
platformdirs==2.5.2
protobuf==3.20.3
py==1.11.0
pyaes==1.6.1
pyasn1==0.4.8
pytz==2022.1
requests==2.28.0
rsa==4.9
six==1.16.0
sqlparse==0.4.2
telebot==0.0.4
Telethon==1.26.1
tzdata==2022.1
urllib3==1.26.9
virtualenv==20.17.1
