			<!-- 
			=============================================
				banner con 3 opciones distintas de arriba a abajo
			============================================== 
			-->
			<div id="theme-main-banner" class="banner-one meraba">
				<div data-src="images/slideshow/slide-1.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated">Nedda - Business Corporation</p>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">LOREM IPSUM DOLOR <br>NEDDA CONCESTEUR</h1>
							<a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">LOREM IPSUM</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="images/slideshow/slide-2.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated white">Lorem ipsum dolor sit amet concesteur</p>
							<h1 class="wow fadeInUp animated white" data-wow-delay="0.2s">LOREM IPSUM DOLOR <br>NEDDA CONCESTEUR</h1>
							<a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">LOREM IPSUM</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
				<div data-src="images/slideshow/slide-3.jpg">
					<div class="camera_caption">
						<div class="container">
							<p class="wow fadeInUp animated">Lorem ipsum dolor sit amet concesteur</p>
							<h1 class="wow fadeInUp animated" data-wow-delay="0.2s">LOREM IPSUM DOLOR <br>NEDDA CONCESTEUR</h1>
							<a href="about.html" class="theme-button-one wow fadeInUp animated" data-wow-delay="0.39s">LOREM IPSUM</a>
						</div> <!-- /.container -->
					</div> <!-- /.camera_caption -->
				</div>
			</div> <!-- /#theme-main-banner -->

			<!--
			=====================================================
				Imagen Xikita
			=====================================================
			-->
			<div class="short-banner section-spacing">
				<div class="overlay">
					<div class="container">
						<h2>Eu sem integer vitae justo eget magna fermentum iaculis.</h2>
					</div>
				</div> <!-- /.overlay -->
			</div> <!-- /.short-banner -->



						<!-- 
			=============================================
				Imagenes en cuadrículas
			============================================== 
			-->
			<div class="our-case section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Egestas Tellus</h2>
						<p>Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Lacus vel facilisis volutpat est velit.</p>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/1.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#">Adipiscing Momentus</a></h5>
												<p>Lorem ipsum dolor sit amet</p>
											</div>
											<a href="#" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/2.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#">Posuere Urna</a></h5>
												<p>Posuere urna nec semper feugiat.</p>
											</div>
											<a href="#" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/3.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#">Vestibulum Mattis</a></h5>
												<p>Vestibulum mattis velit sed</p>
											</div>
											<a href="#" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/4.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#">Nullam Non</a></h5>
												<p>Nullam non nisi est facilisis</p>
											</div>
											<a href="#" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/5.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#">Orci Ac Auctor</a></h5>
												<p>Orci ac auctor augue mauris augue</p>
											</div>
											<a href="#" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-case-block">
									<img src="images/our-cases/6.jpg" alt="">
									<div class="hover-content">
										<div class="text clearfix">
											<div class="float-left">
												<h5><a href="#">Luctus Venenatis</a></h5>
												<p>Luctus venenatis fringilla urna</p>
											</div>
											<a href="#" class="details float-right"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
										</div> <!-- /.text -->
									</div> <!-- /.hover-content -->
								</div> <!-- /.single-case-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
					<div class="view-all"><a href="#" class="theme-button-one">VIEW MORE</a></div>
				</div> <!-- /.container -->
			</div> <!-- /.our-case -->



						<!-- 
			=============================================
				Cuadriculas con descripción y link hacia algo más
			============================================== 
			-->
			<div class="our-solution section-spacing">
				<div class="container">
					<div class="theme-title-one">
						<h2>Lorem Ipsum</h2>
					</div> <!-- /.theme-title-one -->
					<div class="wrapper">
						<div class="row">
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="images/icon/suitcase.svg" alt="" class="icon">
									<h5><a href="service-details.html">Lorem Ipsum</a></h5>
									<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et aliqua.</p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="images/icon/money.svg" alt="" class="icon">
									<h5><a href="service-details.html">Duis Convallis</a></h5>
									<p>Duis convallis convallis tellus id interdum velit laoreet id donec. In fermentum posuere urna nec tincidunt praesent semper. </p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="images/icon/costs-revenues-chart.svg" alt="" class="icon">
									<h5><a href="service-details.html">Egestas Tellus</a></h5>
									<p>Egestas tellus rutrum tellus pellentesque eu tincidunt tortor aliquam. Lacus vel facilisis volutpat est velit.</p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="images/icon/target.svg" alt="" class="icon">
									<h5><a href="service-details.html">Quam Elementum</a></h5>
									<p>Quam elementum pulvinar etiam non quam. Nam libero justo laoreet sit amet cursus sit. Purus in massa feugiat nisl. </p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="images/icon/analysis.svg" alt="" class="icon">
									<h5><a href="service-details.html">Vestibulum Mattis</a></h5>
									<p>Vestibulum mattis ullamcorper velit sed. Ut tristique et egestas quis ipsum suspendisse ultrices gravida. </p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
							<div class="col-lg-4 col-sm-6 col-12">
								<div class="single-solution-block">
									<img src="images/icon/startup-rocket.svg" alt="" class="icon">
									<h5><a href="service-details.html">Pharetra Convallis</a></h5>
									<p>Pharetra convallis posuere morbi leo urna molestie at. Sagittis orci a scelerisque purus semper eget duis at.</p>
								</div> <!-- /.single-solution-block -->
							</div> <!-- /.col- -->
						</div> <!-- /.row -->
					</div> <!-- /.wrapper -->
				</div> <!-- /.container -->
			</div> <!-- /.our-solution -->
